/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Include Compass Plugins, partials and other items required for the theme */
/* line 1, ../sass/_icons.scss */
.icon {
  text-indent: -9999px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

/* line 74, social-media-icons/*.png */
.social-media-icons-sprite, .social-media-icons-facebook, .social-media-icons-linkedin, .social-media-icons-pinterest, .social-media-icons-twitter, .social-media-icons-youtube, .icon--social-media.icon--twitter, .icon--social-media.icon--linkedin, .icon--social-media.icon--facebook, .icon--social-media.icon--youtube, .icon--social-media.icon--pinterest {
  background: url('../images/social-media-icons-s9db617040f.png') no-repeat;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-media-icons-facebook {
  background-position: 0 -176px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-media-icons-linkedin {
  background-position: 0 -88px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-media-icons-pinterest {
  background-position: 0 -44px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-media-icons-twitter {
  background-position: 0 -132px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-media-icons-youtube {
  background-position: 0 0;
}

/* line 13, ../sass/_icons.scss */
.icon--social-media.icon--twitter {
  background-position: 0 -132px;
}
/* line 16, ../sass/_icons.scss */
.icon--social-media.icon--linkedin {
  background-position: 0 -88px;
}
/* line 19, ../sass/_icons.scss */
.icon--social-media.icon--facebook {
  background-position: 0 -176px;
}
/* line 22, ../sass/_icons.scss */
.icon--social-media.icon--youtube {
  background-position: 0 0;
}
/* line 25, ../sass/_icons.scss */
.icon--social-media.icon--pinterest {
  background-position: 0 -44px;
}

/* line 106, track-icons/*.png */
.track-icons-sprite, .track-icons-advanced-learning, .track-icons-best-practices, .track-icons-collaboration, .track-icons-digital-marketing, .track-icons-general-session, .track-icons-omni-channel-marketing, .track-icons-shopper-insights, .track-icons-social-strategy, .track-icons-understanding {
  background: url('../images/track-icons-s6c9986d0bd.png') no-repeat;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-advanced-learning {
  background-position: 0 -340px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-best-practices {
  background-position: 0 -136px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-collaboration {
  background-position: 0 -68px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-digital-marketing {
  background-position: 0 -544px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-general-session {
  background-position: 0 -204px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-omni-channel-marketing {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-shopper-insights {
  background-position: 0 -272px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-social-strategy {
  background-position: 0 -408px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-understanding {
  background-position: 0 -476px;
}

/*
.icon--track {
  &.icon-- {}
}
*/
/* line 15, ../sass/_forms.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border-color: #ddd;
  color: #ddd;
  font-size: 16px;
  padding: 0.275em 0.5em;
}
/* line 21, ../sass/_forms.scss */
textarea:focus,
select:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  color: #333;
}

/* line 30, ../sass/_forms.scss */
button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: #ef413d;
  background-image: none;
  border-color: #ef413d;
  border-bottom: medium none;
  color: #fcfcfc;
  font-size: 16px;
  font-weight: normal;
  text-shadow: none;
  padding: 0.275em 0.5em;
}
/* line 42, ../sass/_forms.scss */
button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #ed2a25;
  border-color: #ed2a25;
  color: #ddd;
}

/* $link-blue: #13A7C7; */
/* 0.05em; */
/**************************************
 * Global Elements
 *
 *  DOM Objects
 *
 *  Typography
 *    - Headings
 *    - Links   
 *
 *  Zones
 *  Regions
 **************************************/
/**@ DOM Objects
**************************************/
/* line 22, ../sass/global.scss */
html {
  color: #676767;
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: white;
}

/* line 30, ../sass/global.scss */
.page {
  margin-top: 1em;
}

/**@ Typography
**************************************/
/* line 39, ../sass/global.scss */
h1 {
  font-size: 44px;
  font-family: "Verdana", sans-serif;
  font-style: normal;
  color: #676767;
  line-height: 1.3;
  letter-spacing: 0;
  font-weight: bold;
}
/* line 50, ../sass/global.scss */
h1 a:link, h1 a:visited {
  color: #333333;
}
/* line 60, ../sass/global.scss */
h1 a:link, h1 a:visited, h1 a:hover, h1 a:focus, h1 a:active, h1 a.active, h1 a.active-trail {
  font-family: "Verdana", sans-serif;
}

/* line 39, ../sass/global.scss */
h2 {
  font-size: 37px;
  font-family: "Verdana", sans-serif;
  font-style: normal;
  color: #676767;
  line-height: 1.3;
  letter-spacing: 0;
  font-weight: bold;
}
/* line 50, ../sass/global.scss */
h2 a:link, h2 a:visited {
  color: #333333;
}
/* line 60, ../sass/global.scss */
h2 a:link, h2 a:visited, h2 a:hover, h2 a:focus, h2 a:active, h2 a.active, h2 a.active-trail {
  font-family: "Verdana", sans-serif;
}

/* line 39, ../sass/global.scss */
h3 {
  font-size: 27px;
  font-family: "Verdana", sans-serif;
  font-style: normal;
  color: #676767;
  line-height: 1.3;
  letter-spacing: 0;
  font-weight: bold;
}
/* line 50, ../sass/global.scss */
h3 a:link, h3 a:visited {
  color: #333333;
}
/* line 60, ../sass/global.scss */
h3 a:link, h3 a:visited, h3 a:hover, h3 a:focus, h3 a:active, h3 a.active, h3 a.active-trail {
  font-family: "Verdana", sans-serif;
}

/* line 39, ../sass/global.scss */
h4 {
  font-size: 23px;
  font-family: "Verdana", sans-serif;
  font-style: normal;
  color: #676767;
  line-height: 1.3;
  letter-spacing: 0;
  font-weight: bold;
}
/* line 50, ../sass/global.scss */
h4 a:link, h4 a:visited {
  color: #333333;
}
/* line 60, ../sass/global.scss */
h4 a:link, h4 a:visited, h4 a:hover, h4 a:focus, h4 a:active, h4 a.active, h4 a.active-trail {
  font-family: "Verdana", sans-serif;
}

/* line 39, ../sass/global.scss */
h5 {
  font-size: 18px;
  font-family: "Verdana", sans-serif;
  font-style: normal;
  color: #676767;
  line-height: 1.3;
  letter-spacing: 0;
  font-weight: bold;
}
/* line 50, ../sass/global.scss */
h5 a:link, h5 a:visited {
  color: #333333;
}
/* line 60, ../sass/global.scss */
h5 a:link, h5 a:visited, h5 a:hover, h5 a:focus, h5 a:active, h5 a.active, h5 a.active-trail {
  font-family: "Verdana", sans-serif;
}

/* line 39, ../sass/global.scss */
h6 {
  font-size: 1em;
  font-family: "Verdana", sans-serif;
  font-style: normal;
  color: #676767;
  line-height: 1.3;
  letter-spacing: 0;
  font-weight: bold;
}
/* line 50, ../sass/global.scss */
h6 a:link, h6 a:visited {
  color: #333333;
}
/* line 60, ../sass/global.scss */
h6 a:link, h6 a:visited, h6 a:hover, h6 a:focus, h6 a:active, h6 a.active, h6 a.active-trail {
  font-family: "Verdana", sans-serif;
}

/* line 67, ../sass/global.scss */
#page-title {
  border-bottom: 1px solid #cccccc;
  display: block;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 1em;
}

/* line 77, ../sass/global.scss */
h2.block-title {
  margin: 0.325em 0 0.625em;
}

/* line 84, ../sass/global.scss */
a:link, a:visited {
  color: #004a85;
  text-decoration: none;
}
/* line 90, ../sass/global.scss */
a:hover, a:focus {
  text-decoration: underline;
}
/* line 95, ../sass/global.scss */
a:active, a.active {
  color: #004a85;
}

/* line 100, ../sass/global.scss */
p {
  margin-top: 20px;
}

/**@ Zones
 **************************************/
/* line 107, ../sass/global.scss */
.zone-branding-wrapper,
.zone-interstitial-wrapper {
  background-color: #004a85;
  color: #fcfcfc;
}
/* line 111, ../sass/global.scss */
.zone-branding-wrapper a,
.zone-interstitial-wrapper a {
  color: #63adc5;
}

/* line 116, ../sass/global.scss */
.zone-branding {
  padding: 1.5em 0;
}

/* line 120, ../sass/global.scss */
.zone-postscript-wrapper {
  padding: 1em 0;
}

/* line 125, ../sass/global.scss */
.zone-postscript .block-title {
  color: #ef413d;
}

/**@ Regions
 **************************************/
/* line 132, ../sass/global.scss */
.region-user-second {
  text-align: right;
}

/* line 136, ../sass/global.scss */
.region-branding {
  text-align: center;
}

/* line 141, ../sass/global.scss */
.logo-img a {
  display: inline-block;
  vertical-align: bottom;
}
/* line 146, ../sass/global.scss */
.logo-img img {
  display: inline-block;
  min-width: 100%;
  width: 100%;
  height: auto;
}

/* line 151, ../sass/global.scss */
.block {
  margin-bottom: 20px;
}

/**************************************
 * Navigation Objects
 *
 *  Menus
 *    - Utility Navigation
 *      + Social Media
 *      + Footer Site Map
 *
 *    - Main Navigation
 **************************************/
/**@ Utility Navigation
 **************************************/
/* line 169, ../sass/global.scss */
ul.menu--social-media.inline {
  display: table;
  width: 100%;
  padding: 0.625em 0;
}
/* line 174, ../sass/global.scss */
ul.menu--social-media.inline li {
  display: table-cell;
  text-align: center;
}

/* line 184, ../sass/global.scss */
.footer--sitemap__menu ul li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
/* line 190, ../sass/global.scss */
.footer--sitemap__menu .menu--heading {
  color: #484848;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 199, ../sass/global.scss */
.footer--sitemap__menu .menu--heading + ul a:link, .footer--sitemap__menu .menu--heading + ul a:visited {
  color: #bababa;
}
/* line 206, ../sass/global.scss */
.footer--sitemap__menu .menu--heading + ul a:hover, .footer--sitemap__menu .menu--heading + ul a:focus, .footer--sitemap__menu .menu--heading + ul a:active, .footer--sitemap__menu .menu--heading + ul a.active {
  color: #333333;
  text-decoration: none;
}

/* line 216, ../sass/global.scss */
a.nav-toggle {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  background-color: #dddddd;
  color: #004a85;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  text-indent: 0.5em;
  padding: 0.325em 0;
  min-width: 40px;
  width: 100%;
}
/* line 229, ../sass/global.scss */
a.nav-toggle:hover, a.nav-toggle:focus {
  text-decoration: none;
}
/* line 233, ../sass/global.scss */
a.nav-toggle.active {
  min-width: 100%;
}

/* line 238, ../sass/global.scss */
.main-navigation {
  display: none;
}
/* line 241, ../sass/global.scss */
.main-navigation > ul.links.inline {
  margin-left: 0;
  padding-left: 0;
}
/* line 245, ../sass/global.scss */
.main-navigation > ul.links.inline li {
  display: block;
  margin: 0;
  padding: 0;
}
/* line 252, ../sass/global.scss */
.main-navigation .main-menu__inner {
  -webkit-transition: all 0.5s ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
  background-color: #dddddd;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
/* line 261, ../sass/global.scss */
.main-navigation .main-menu__inner li:last-child a {
  border-bottom: medium none;
}
/* line 267, ../sass/global.scss */
.main-navigation .main-menu__inner a {
  background-color: #fcfcfc;
  color: #bababa;
  border-bottom: 2px solid #dddddd;
}
/* line 275, ../sass/global.scss */
.main-navigation a,
.main-navigation .nolink {
  color: #ef413d;
  display: block;
  font-size: 1.3em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.325em 0.5em;
}
/* line 292, ../sass/global.scss */
.main-navigation a:hover, .main-navigation a:focus, .main-navigation a:active, .main-navigation a.active-trail, .main-navigation a.active-link,
.main-navigation .nolink:hover,
.main-navigation .nolink:focus,
.main-navigation .nolink:active,
.main-navigation .nolink.active-trail,
.main-navigation .nolink.active-link {
  background-color: #dddddd;
  color: #004a85;
}
/* line 298, ../sass/global.scss */
.main-navigation a.active-link ~ .main-menu__inner,
.main-navigation .nolink.active-link ~ .main-menu__inner {
  opacity: 1;
  max-height: 1000px;
  padding: 0 0.5em 0.5em;
}

/**************************************
 * Drupal Content
 *  
 *  @format
 *    DESCRIPTION: LOCATION [Example | Block Foobar: Sidebar Second ]
 *  
 *  Blocks
 *    - Header
 *      + Branding: Venue Info
 *      + FlexSlider
 *    - Content
 *      + Register Now CTA
 *      + jQuery Countdown Timer
 *      + Positioning Statement
 *      + Front Features
 *      + Session Speakers
 *      + Speaker's Sessions
 *    - Footer
 *      + Summit Organizer
 *      + Twitter Feed
 *      + Sponsor Logos
 *
 *  Forms
 *    - Search Form
 **************************************/
/**@ Blocks
 **************************************/
/* line 338, ../sass/global.scss */
.branding--venue-info h2,
.branding--venue-info p {
  color: #dddddd;
  margin-bottom: 0;
}
/* line 343, ../sass/global.scss */
.branding--venue-info h2 {
  padding: 0 16px;
}
/* line 347, ../sass/global.scss */
.branding--venue-info p {
  font-size: 16px;
  max-width: 320px;
  margin: 0 auto;
}

/* line 355, ../sass/global.scss */
.flexslider {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  border: medium none;
  margin: 0;
}
/* line 362, ../sass/global.scss */
.flexslider .slides img {
  height: auto;
}
/* line 368, ../sass/global.scss */
.flexslider .flex-control-nav a {
  background-color: transparent;
  border: 1px solid #fcfcfc;
}
/* line 373, ../sass/global.scss */
.flexslider .flex-control-nav a:hover, .flexslider .flex-control-nav a:focus {
  background-color: rgba(252, 252, 252, 0.8);
}
/* line 378, ../sass/global.scss */
.flexslider .flex-control-nav .flex-active {
  background-color: #fcfcfc;
}

/* line 385, ../sass/global.scss */
.register-cta {
  background-color: #ef413d;
  color: #fcfcfc;
  padding-right: 28px;
}
/* line 390, ../sass/global.scss */
.register-cta .content {
  background-color: transparent;
  background-image: url('../images/arrow--action.png?1386351935');
  background-repeat: no-repeat;
  background-position: center right;
  vertical-align: middle;
  width: 100%;
  height: 78px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 401, ../sass/global.scss */
.register-cta .content > p {
  line-height: 78px;
  margin: 0;
  padding-left: 14px;
}
/* line 407, ../sass/global.scss */
.register-cta .content a {
  color: #fcfcfc;
  text-decoration: none;
}
/* line 412, ../sass/global.scss */
.register-cta .content a:hover, .register-cta .content a:focus {
  color: #e6e6e6;
}

/* line 420, ../sass/global.scss */
.block-jquery-countdown-timer {
  width: 100%;
  display: none;
}
/* line 425, ../sass/global.scss */
.block-jquery-countdown-timer .block-title,
.block-jquery-countdown-timer .content {
  display: inline-block;
  vertical-align: top;
}
/* line 430, ../sass/global.scss */
.block-jquery-countdown-timer .block-title {
  display: none;
  width: 110px;
  height: 56px;
  font-size: 13px;
  text-align: center;
  margin: 0;
  padding-top: 22px;
}
/* line 440, ../sass/global.scss */
.block-jquery-countdown-timer .content {
  width: 100%;
}
/* line 444, ../sass/global.scss */
.block-jquery-countdown-timer .countdownHolder {
  height: 78px;
  font-size: 30px;
  text-align: center;
  width: auto;
  min-width: 100%;
}
/* line 457, ../sass/global.scss */
.block-jquery-countdown-timer .countdownHolder .countDays:after {
  content: "Days";
}
/* line 462, ../sass/global.scss */
.block-jquery-countdown-timer .countdownHolder .countHours:after {
  content: "Hours";
}
/* line 467, ../sass/global.scss */
.block-jquery-countdown-timer .countdownHolder .countMinutes:after {
  content: "Minutes";
}
/* line 472, ../sass/global.scss */
.block-jquery-countdown-timer .countdownHolder .countSeconds:after {
  content: "Seconds";
}
/* line 480, ../sass/global.scss */
.block-jquery-countdown-timer .countdownHolder .countDays,
.block-jquery-countdown-timer .countdownHolder .countHours,
.block-jquery-countdown-timer .countdownHolder .countMinutes,
.block-jquery-countdown-timer .countdownHolder .countSeconds {
  position: relative;
}
/* line 483, ../sass/global.scss */
.block-jquery-countdown-timer .countdownHolder .countDays:after,
.block-jquery-countdown-timer .countdownHolder .countHours:after,
.block-jquery-countdown-timer .countdownHolder .countMinutes:after,
.block-jquery-countdown-timer .countdownHolder .countSeconds:after {
  color: #8c8c8c;
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
}

/* line 499, ../sass/global.scss */
#jquery-countdown-timer-note {
  display: none;
}

/* line 504, ../sass/global.scss */
.positioning-statement {
  color: #484848;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* line 512, ../sass/global.scss */
.front-feature {
  border-bottom: 3px solid #dddddd;
  padding: 0 0.5em;
  min-height: 340px;
}
/* line 517, ../sass/global.scss */
.front-feature .feature--image {
  border-top: 10px solid #dddddd;
}
/* line 520, ../sass/global.scss */
.front-feature .feature--image img {
  display: inline-block;
  min-width: 100%;
  width: 100%;
  height: auto;
}
/* line 525, ../sass/global.scss */
.front-feature .feature--title {
  color: #ef413d;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0.5em 0;
}
/* line 533, ../sass/global.scss */
.front-feature p {
  margin-top: 0;
}

/* line 540, ../sass/global.scss */
.block-speakers-on-session-block .block-title {
  color: #ef413d;
  text-transform: uppercase;
}
/* line 545, ../sass/global.scss */
.block-speakers-on-session-block .speaker {
  margin-bottom: 1em;
  padding-left: 196px;
  min-height: 230px;
}
/* line 551, ../sass/global.scss */
.block-speakers-on-session-block .speaker--headshot {
  display: inline-block;
  float: left;
  margin-left: -196px;
  vertical-align: top;
}
/* line 557, ../sass/global.scss */
.block-speakers-on-session-block .speaker--headshot a {
  display: block;
  vertical-align: bottom;
}

/* line 573, ../sass/global.scss */
.block-sessions-on-speaker-block {
  font-size: 16px;
}
/* line 576, ../sass/global.scss */
.block-sessions-on-speaker-block .block-title {
  font-weight: normal;
}

/* line 582, ../sass/global.scss */
.summit-organizer {
  text-align: center;
  max-width: 220px;
  margin: 0 auto;
  padding: 0.625em;
}
/* line 588, ../sass/global.scss */
.summit-organizer p {
  font-size: 14px;
  margin: 0;
  line-height: 1;
  vertical-align: top;
}
/* line 595, ../sass/global.scss */
.summit-organizer a {
  display: inline-block;
  vertical-align: bottom;
  padding-top: 0.5em;
}
/* line 601, ../sass/global.scss */
.summit-organizer img {
  max-width: 180px;
}

/* line 608, ../sass/global.scss */
.twitter-feed .block-title {
  margin-bottom: 1.5em;
  position: relative;
}
/* line 612, ../sass/global.scss */
.twitter-feed .block-title:after {
  color: #676767;
  content: "Follow @P2PInstitute and use #shoppersummit";
  font-size: 0.8em;
  font-weight: normal;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
/* line 624, ../sass/global.scss */
.twitter-feed .content {
  text-align: center;
}

/* line 630, ../sass/global.scss */
.block--sponsors__inline {
  background-color: white;
  border: 1px solid #dddddd;
  margin: 1.5em 0;
  padding: 0 0.5em 0.5em;
}
/* line 639, ../sass/global.scss */
.block--sponsors__inline .block-title {
  background-color: white;
  font-size: 0.875em;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  margin: -1.125em auto 0;
  display: block;
  padding: 0 1em;
  min-width: 160px;
  width: 160px;
}
/* line 653, ../sass/global.scss */
.block--sponsors__inline .sponsor--logo-list > ul {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -ms-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
  text-align: center;
  list-style: none outside none;
  width: 100%;
}
/* line 659, ../sass/global.scss */
.block--sponsors__inline .sponsor--logo-list > ul > li {
  display: inline-block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  width: 100%;
  min-height: 72px;
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* line 653, ../sass/global.scss */
  .block--sponsors__inline .sponsor--logo-list > ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 481px) and (max-width: 739px) {
  /* line 653, ../sass/global.scss */
  .block--sponsors__inline .sponsor--logo-list > ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
  }
}
/* line 677, ../sass/global.scss */
.block--sponsors__inline .sponsor--logo-link {
  padding: 0.325em 0;
}
/* line 680, ../sass/global.scss */
.block--sponsors__inline .sponsor--logo-link a {
  display: inline-block;
  vertical-align: middle;
}
/* line 684, ../sass/global.scss */
.block--sponsors__inline .sponsor--logo-link a > img {
  display: inline-block;
  min-width: 100%;
  width: 100%;
  height: auto;
}

/**@ Forms
 **************************************/
/* line 693, ../sass/global.scss */
.block-search-form {
  padding: 0.5em 0;
}
/* line 696, ../sass/global.scss */
.block-search-form .search-form {
  margin-bottom: 0;
}

/**************************************
 * Drupal Content
 *  
 *  @format
 *    DESCRIPTION: PRECONFIGURED MACHINE NAME [Example | Large Image teaser: Article - teaser ]
 *  
 *  Node Displays and View Modes
 * 
 *  Node Fields
 * 
 *  View Displays [not blocks]
 * 
 **************************************/
/**@ Node Displays & View Modes
 **************************************/
/**@ Node Fields
 **************************************/
/* line 720, ../sass/global.scss */
.node-session {
  font-size: 16px;
}
/* line 723, ../sass/global.scss */
.node-session .field-name-field-session-number {
  color: #004a85;
  font-size: 22px;
  font-weight: bold;
}
/* line 729, ../sass/global.scss */
.node-session .field-label {
  color: #ef413d;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 738, ../sass/global.scss */
.node-session .field-name-field-session-datetime,
.node-session .field-name-field-session-track,
.node-session .field-name-field-session-speakers {
  font-size: 24px;
}
/* line 743, ../sass/global.scss */
.node-session .field-name-field-session-speakers .field-item {
  color: #004a85;
  font-weight: bold;
}

/* line 750, ../sass/global.scss */
.node-speaker {
  font-size: 16px;
}
/* line 753, ../sass/global.scss */
.node-speaker .field-name-field-speaker-title {
  font-size: 20px;
}
/* line 756, ../sass/global.scss */
.node-speaker .field-name-field-speaker-company {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1em;
}
/* line 761, ../sass/global.scss */
.node-speaker .field-name-field-speaker-headshot {
  float: left;
  vertical-align: top;
  padding-right: 20px;
  padding-bottom: 20px;
}
/* line 767, ../sass/global.scss */
.node-speaker .field-name-body {
  display: inline;
}
/* line 771, ../sass/global.scss */
.node-speaker .field-type-link-field {
  display: inline-block;
  margin-right: 1em;
}

/**@ View Displays [not blocks]
 **************************************/
/* line 781, ../sass/global.scss */
.views-exposed-form .views-exposed-widgets {
  background-color: #dddddd;
  text-align: right;
  padding-bottom: 1em;
}
/* line 787, ../sass/global.scss */
.views-exposed-form [class*="views-widget-filter"] {
  background-color: #dddddd;
  display: block;
  text-align: left;
  width: 100%;
  margin: 1em 0;
  padding: 0;
}
/* line 795, ../sass/global.scss */
.views-exposed-form [class*="views-widget-filter"]:first-child {
  margin-top: 0;
}
/* line 799, ../sass/global.scss */
.views-exposed-form [class*="views-widget-filter"] > label {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  background-color: #004a85;
  color: #fcfcfc;
  display: block;
}
/* line 806, ../sass/global.scss */
.views-exposed-form [class*="views-widget-filter"] .views-widget {
  font-size: 16px;
  padding: 1.5em;
}
/* line 812, ../sass/global.scss */
.views-exposed-form .views-exposed-widget {
  float: none;
  display: inline-block;
}
/* line 816, ../sass/global.scss */
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}
/* line 823, ../sass/global.scss */
.views-exposed-form .views-widget-filter-field_session_track_target_id .form-item label {
  display: inline-block;
  width: auto;
  min-height: 40px;
  padding: 0.5em 0;
}
/* line 829, ../sass/global.scss */
.views-exposed-form .views-widget-filter-field_session_track_target_id .form-item label:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  min-width: 64px;
  height: 40px;
  vertical-align: middle;
}
/* line 845, ../sass/global.scss */
.views-exposed-form .views-widget-filter-field_session_track_target_id .form-item-edit-field-session-track-target-id-96 label:before {
  background-image: url("../images/track-icons/shopper-insights.png");
}
/* line 850, ../sass/global.scss */
.views-exposed-form .views-widget-filter-field_session_track_target_id .form-item-edit-field-session-track-target-id-144 label:before {
  background-image: url("../images/track-icons/advanced-learning.png");
}
/* line 855, ../sass/global.scss */
.views-exposed-form .views-widget-filter-field_session_track_target_id .form-item-edit-field-session-track-target-id-97 label:before {
  background-image: url("../images/track-icons/collaboration.png");
}
/* line 860, ../sass/global.scss */
.views-exposed-form .views-widget-filter-field_session_track_target_id .form-item-edit-field-session-track-target-id-98 label:before {
  background-image: url("../images/track-icons/digital-marketing.png");
}
/* line 865, ../sass/global.scss */
.views-exposed-form .views-widget-filter-field_session_track_target_id .form-item-edit-field-session-track-target-id-145 label:before {
  background-image: url("../images/track-icons/general-session.png");
}
/* line 870, ../sass/global.scss */
.views-exposed-form .views-widget-filter-field_session_track_target_id .form-item-edit-field-session-track-target-id-99 label:before {
  background-image: url("../images/track-icons/social-strategy.png");
}
/* line 875, ../sass/global.scss */
.views-exposed-form .views-widget-filter-field_session_track_target_id .form-item-edit-field-session-track-target-id-102 label:before {
  background-image: url("../images/track-icons/omni-channel-marketing.png");
}
/* line 880, ../sass/global.scss */
.views-exposed-form .views-widget-filter-field_session_track_target_id .form-item-edit-field-session-track-target-id-101 label:before {
  background-image: url("../images/track-icons/best-practices.png");
}
/* line 885, ../sass/global.scss */
.views-exposed-form .views-widget-filter-field_session_track_target_id .form-item-edit-field-session-track-target-id-100 label:before {
  background-image: url("../images/track-icons/understanding.png");
}

/* line 894, ../sass/global.scss */
.view-schedule .view-grouping-header {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  background-color: #ef413d;
  color: #fcfcfc;
  display: block;
}
/* line 901, ../sass/global.scss */
.view-schedule .view-grouping-header + .view-grouping-content > .group-header {
  margin-top: 0.5em;
}
/* line 907, ../sass/global.scss */
.view-schedule .schedule-item {
  border-bottom: 1px solid #dddddd;
  font-size: 16px;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
/* line 914, ../sass/global.scss */
.view-schedule .schedule-item a:link,
.view-schedule .schedule-item a:visited {
  color: #004a85;
}
/* line 918, ../sass/global.scss */
.view-schedule .schedule-item:last-child {
  border-bottom: medium none;
  margin-bottom: 0;
}
/* line 924, ../sass/global.scss */
.view-schedule .schedule-item__title {
  margin-bottom: 0;
}
/* line 928, ../sass/global.scss */
.view-schedule .session--speaker {
  font-weight: bold;
  margin-top: 0.5em;
}
/* line 933, ../sass/global.scss */
.view-schedule .session--speaker__company {
  color: #484848;
  font-weight: bold;
}
/* line 939, ../sass/global.scss */
.view-schedule .track--icon {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: auto;
  min-width: 56px;
  height: 40px;
  vertical-align: middle;
}
/* line 950, ../sass/global.scss */
.view-schedule .track-id-96 {
  background-image: url("../images/track-icons/shopper-insights.png");
}
/* line 953, ../sass/global.scss */
.view-schedule .track-id-144 {
  background-image: url("../images/track-icons/advanced-learning.png");
}
/* line 956, ../sass/global.scss */
.view-schedule .track-id-97 {
  background-image: url("../images/track-icons/collaboration.png");
}
/* line 959, ../sass/global.scss */
.view-schedule .track-id-98 {
  background-image: url("../images/track-icons/digital-marketing.png");
}
/* line 962, ../sass/global.scss */
.view-schedule .track-id-145 {
  background-image: url("../images/track-icons/general-session.png");
}
/* line 965, ../sass/global.scss */
.view-schedule .track-id-99 {
  background-image: url("../images/track-icons/social-strategy.png");
}
/* line 968, ../sass/global.scss */
.view-schedule .track-id-102 {
  background-image: url("../images/track-icons/omni-channel-marketing.png");
}
/* line 971, ../sass/global.scss */
.view-schedule .track-id-101 {
  background-image: url("../images/track-icons/best-practices.png");
}
/* line 974, ../sass/global.scss */
.view-schedule .track-id-100 {
  background-image: url("../images/track-icons/understanding.png");
}

/* line 981, ../sass/global.scss */
.speaker-grid {
  font-size: 0;
}
/* line 984, ../sass/global.scss */
.speaker-grid ul {
  list-style: none outside none;
}
/* line 988, ../sass/global.scss */
.speaker-grid .speaker {
  display: inline-block;
  font-size: 13px;
  width: 100%;
  vertical-align: top;
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 20px;
  position: relative;
}
@media only screen and (min-width: 600px) and (max-width: 980px) {
  /* line 988, ../sass/global.scss */
  .speaker-grid .speaker {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 49%;
    margin: 0 0.5%;
    padding-left: 1em;
    padding-right: 1em;
    /*
          &:nth-child(2n + 2) {
            border-left: 1px solid $light-grey;
            width: calc(49% - 1px);
          }
    */
  }
  /* line 1012, ../sass/global.scss */
  .speaker-grid .speaker:before {
    width: 95%;
    left: 2.5%;
  }
}
/* line 1018, ../sass/global.scss */
.speaker-grid .speaker:before {
  background-color: #dddddd;
  content: "";
  display: inline-block;
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1029, ../sass/global.scss */
.speaker-grid .speaker span {
  display: inline-block;
  vertical-align: top;
}
/* line 1034, ../sass/global.scss */
.speaker-grid .speaker .speaker--headshot {
  float: left;
  padding-right: 0.5em;
}
/* line 1039, ../sass/global.scss */
.speaker-grid .speaker .speaker--full-name {
  color: #004a85;
  font-size: 16px;
  padding-top: .25em;
}
/* line 1045, ../sass/global.scss */
.speaker-grid .speaker .speaker--company {
  font-weight: bold;
}