/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/* Include Compass Plugins, partials and other items required for the theme */
/* line 1, ../sass/_icons.scss */
.icon {
  text-indent: -9999px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

/* line 74, social-media-icons/*.png */
.social-media-icons-sprite, .social-media-icons-facebook, .social-media-icons-linkedin, .social-media-icons-pinterest, .social-media-icons-twitter, .social-media-icons-youtube, .icon--social-media.icon--twitter, .icon--social-media.icon--linkedin, .icon--social-media.icon--facebook, .icon--social-media.icon--youtube, .icon--social-media.icon--pinterest {
  background: url('../images/social-media-icons-s9db617040f.png') no-repeat;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-media-icons-facebook {
  background-position: 0 -176px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-media-icons-linkedin {
  background-position: 0 -88px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-media-icons-pinterest {
  background-position: 0 -44px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-media-icons-twitter {
  background-position: 0 -132px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-media-icons-youtube {
  background-position: 0 0;
}

/* line 13, ../sass/_icons.scss */
.icon--social-media.icon--twitter {
  background-position: 0 -132px;
}
/* line 16, ../sass/_icons.scss */
.icon--social-media.icon--linkedin {
  background-position: 0 -88px;
}
/* line 19, ../sass/_icons.scss */
.icon--social-media.icon--facebook {
  background-position: 0 -176px;
}
/* line 22, ../sass/_icons.scss */
.icon--social-media.icon--youtube {
  background-position: 0 0;
}
/* line 25, ../sass/_icons.scss */
.icon--social-media.icon--pinterest {
  background-position: 0 -44px;
}

/* line 106, track-icons/*.png */
.track-icons-sprite, .track-icons-advanced-learning, .track-icons-best-practices, .track-icons-collaboration, .track-icons-digital-marketing, .track-icons-general-session, .track-icons-omni-channel-marketing, .track-icons-shopper-insights, .track-icons-social-strategy, .track-icons-understanding {
  background: url('../images/track-icons-s6c9986d0bd.png') no-repeat;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-advanced-learning {
  background-position: 0 -340px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-best-practices {
  background-position: 0 -136px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-collaboration {
  background-position: 0 -68px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-digital-marketing {
  background-position: 0 -544px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-general-session {
  background-position: 0 -204px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-omni-channel-marketing {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-shopper-insights {
  background-position: 0 -272px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-social-strategy {
  background-position: 0 -408px;
}

/* line 60, ../../../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.track-icons-understanding {
  background-position: 0 -476px;
}

/*
.icon--track {
  &.icon-- {}
}
*/
/* line 15, ../sass/_forms.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border-color: #ddd;
  color: #ddd;
  font-size: 16px;
  padding: 0.275em 0.5em;
}
/* line 21, ../sass/_forms.scss */
textarea:focus,
select:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  color: #333;
}

/* line 30, ../sass/_forms.scss */
button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: #ef413d;
  background-image: none;
  border-color: #ef413d;
  border-bottom: medium none;
  color: #fcfcfc;
  font-size: 16px;
  font-weight: normal;
  text-shadow: none;
  padding: 0.275em 0.5em;
}
/* line 42, ../sass/_forms.scss */
button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #ed2a25;
  border-color: #ed2a25;
  color: #ddd;
}

/* $link-blue: #13A7C7; */
/* 0.05em; */
/**
 * Navigation Objects
 *
 *  Menus
 *    - Utility Navigation
 *      + Social Media
 *      + Footer Site Map
 *
 *    - Main Navigation
 */
/* line 19, ../sass/summit-alpha-default-normal.scss */
a.nav-toggle {
  display: none;
}

/* line 23, ../sass/summit-alpha-default-normal.scss */
.main-navigation {
  display: block !important;
}
/* line 26, ../sass/summit-alpha-default-normal.scss */
.main-navigation > ul.links.inline {
  display: block;
  margin-left: 0;
  padding-left: 0;
}
/* line 31, ../sass/summit-alpha-default-normal.scss */
.main-navigation > ul.links.inline > li {
  display: inline-block;
  position: relative;
  margin-left: 0;
  padding-left: 0;
  width: auto;
}
/* line 41, ../sass/summit-alpha-default-normal.scss */
.main-navigation > ul.links.inline > li:hover > a,
.main-navigation > ul.links.inline > li:hover > .nolink, .main-navigation > ul.links.inline > li:focus > a,
.main-navigation > ul.links.inline > li:focus > .nolink {
  background-color: #dddddd;
  color: #004a85;
}
/* line 46, ../sass/summit-alpha-default-normal.scss */
.main-navigation > ul.links.inline > li:hover .main-menu__inner, .main-navigation > ul.links.inline > li:focus .main-menu__inner {
  display: block;
  opacity: 1;
  max-height: 1000px;
}
/* line 54, ../sass/summit-alpha-default-normal.scss */
.main-navigation > ul.links.inline > li:nth-child(2n+2) .main-menu__inner {
  left: 0;
}
/* line 60, ../sass/summit-alpha-default-normal.scss */
.main-navigation > ul.links.inline > li:last-child .main-menu__inner {
  left: auto;
  right: 0;
}
/* line 67, ../sass/summit-alpha-default-normal.scss */
.main-navigation > ul.links.inline ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
}
/* line 74, ../sass/summit-alpha-default-normal.scss */
.main-navigation > ul.links.inline .main-menu__inner {
  margin-top: -0.5em;
  padding: 0.5em;
  z-index: 100;
  width: auto;
}
/* line 80, ../sass/summit-alpha-default-normal.scss */
.main-navigation > ul.links.inline .main-menu__inner li {
  display: block;
  position: relative;
  width: auto;
}
/* line 85, ../sass/summit-alpha-default-normal.scss */
.main-navigation > ul.links.inline .main-menu__inner li a {
  display: block;
  white-space: nowrap;
}
/* line 94, ../sass/summit-alpha-default-normal.scss */
.main-navigation a,
.main-navigation .nolink {
  display: inline-block;
}
/* line 97, ../sass/summit-alpha-default-normal.scss */
.main-navigation a.mobile-menu-processed,
.main-navigation .nolink.mobile-menu-processed {
  display: inline-block;
}

/**************************************
 * Drupal Content
 *  
 *  @format
 *    DESCRIPTION: LOCATION [Example | Block Foobar: Sidebar Second/Content ]
 *  
 *  Blocks
 *    - Header
 *      + Branding: Venue Info
 *      + FlexSlider
 *    - Footer
 *      + Sponsor Logos
 *
 *  Forms
 *    - Search Form
 **************************************/
/**@ Blocks
 **************************************/
/* line 127, ../sass/summit-alpha-default-normal.scss */
.block-jquery-countdown-timer .countdownHolder {
  font-size: 36px;
}

/* line 135, ../sass/summit-alpha-default-normal.scss */
.block--sponsors__inline .sponsor--logo-list > ul {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  -ms-column-count: 6;
  -o-column-count: 6;
  column-count: 6;
  text-align: left;
}
/* line 139, ../sass/summit-alpha-default-normal.scss */
.block--sponsors__inline .sponsor--logo-list > ul li {
  text-align: center;
}
/* line 146, ../sass/summit-alpha-default-normal.scss */
.block--sponsors__inline .sponsor--logo-link a {
  display: inline-block;
  vertical-align: middle;
}
/* line 150, ../sass/summit-alpha-default-normal.scss */
.block--sponsors__inline .sponsor--logo-link a > img {
  display: inline-block;
  min-width: 100%;
  width: 100%;
  height: auto;
}

/**************************************
 * Drupal Content
 *  
 *  @format
 *    DESCRIPTION: PRECONFIGURED MACHINE NAME [Example | Large Image teaser: Article - teaser ]
 *  
 *  Node Displays and View Modes
 * 
 *  Node Fields
 * 
 *  View Displays [not blocks]
 * 
 **************************************/
/* line 175, ../sass/summit-alpha-default-normal.scss */
.speaker-grid .speaker {
  width: 32%;
  margin: 0 0.5%;
}