textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border-color: #ddd;
  color: #ddd;
  font-size: 16px;
  padding: 0.275em 0.5em;
  
  &:focus {
    color: #333;
  }
}

button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  @include border-radius(0);
  background-color: rgb(239, 65, 61);
  background-image: none;
  border-color: rgb(239, 65, 61);
  border-bottom: medium none;
  color: #fcfcfc;
  font-size: 16px;
  font-weight: normal;
  text-shadow: none;
  padding: 0.275em 0.5em;
  
  &:hover {
    background-color: darken(rgb(239, 65, 61), 5%);
    border-color: darken(rgb(239, 65, 61), 5%);
    color: #ddd;
  }
  
  &:active {}
}