.icon {
  text-indent: -9999px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

$social-media-icons-spacing: 20px;
@import "social-media-icons/*.png";
@include all-social-media-icons-sprites;

.icon--social-media {
  &.icon--twitter {
    @include social-media-icons-sprite(twitter);
  }
  &.icon--linkedin {
    @include social-media-icons-sprite(linkedin);
  }
  &.icon--facebook {
    @include social-media-icons-sprite(facebook);
  }
  &.icon--youtube {
    @include social-media-icons-sprite(youtube);
  }
  &.icon--pinterest {
    @include social-media-icons-sprite(pinterest);
  }
}

$track-icons-spacing: 20px;
@import "track-icons/*.png";
@include all-track-icons-sprites;
/*
.icon--track {
  &.icon-- {}
}
*/