@mixin hidden {
  position: absolute;
  overflow: hidden;
  display: none !important;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px; 
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin clearfix {
  &:before, &:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden;
  }
  &:after {
      clear: both;
  }
}

@mixin rwdImage {
  display: inline-block;
  min-width: 100%;
  width: 100%;
  height: auto;
}

@mixin zebra($child) {
  #{$child} {
    background-color: darken($lightest-grey, 2.5%);
    &:nth-child(odd) {
      background-color: lighten($lightest-grey, 2.5%);
    }
  }
}

@mixin labelHeader {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}