// Ruby Plugins
@import "compass";

// Non-responsive Partials
@import "icons";
@import "utility";
@import "forms";

//Colors
/* $link-blue: #13A7C7; */
$link-light-blue: rgb(99, 173, 197);
$link-blue: rgb(28, 117, 187);
$link-dark-blue: #10869f;
$btn-light-blue: rgb(107, 173, 201);
$btn-blue: rgb(16, 114, 186);
$dark-grey: #333;
$hero-grey: #8c8c8c;
$main-nav-grey: #bababa;
$med-grey:#484848;
$middle-grey: #ccc;
$light-grey: #ddd;
$lite-grey: #EEE;
$lightest-grey: #e6e6e6;

$black: #1a1a1a;
$trueBlack: #000;
$white: #fcfcfc;
$trueWhite: #fff;

$blue: rgb(0, 74, 133);
$red: rgb(239, 65, 61);

//Font Stacks
$sans-serif: "Verdana", sans-serif;
$serif: serif; ;

//Typography
$copy-font-family: $sans-serif;
$copy-font-size: 16px;
$copy-line-height: 1.5;

$header-font-family: $sans-serif;
$header-font-weight: bold;
$header-font-style: normal;
$header-font-color: lighten($med-grey, 12%);
$header-line-height: 1.3;
$header-letter-spacing: 0; /* 0.05em; */

$header-top-margin: .2em;
$header-bottom-margin: .5em;
$header-text-rendering: optimizeLegibility;

$h1-font-size: 44px;
$h2-font-size: 37px;
$h3-font-size: 27px;
$h4-font-size: 23px;
$h5-font-size: 18px;
$h6-font-size: 1em;