/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Include Compass Plugins, partials and other items required for the theme */
@import "variables";

/**************************************
 * Global Elements
 *
 *  DOM Objects
 *
 *  Typography
 *    - Headings
 *    - Links   
 *
 *  Zones
 *  Regions
 **************************************/

/**@ DOM Objects
**************************************/
html {
  color: lighten($med-grey, 12%);
  font-family: $copy-font-family;
  font-size: $copy-font-size;
  line-height: $copy-line-height;
  background: $trueWhite;
}

.page {
  margin-top: 1em;
}

/**@ Typography
**************************************/
$header-font-sizes: $h1-font-size, $h2-font-size, $h3-font-size, $h4-font-size, $h5-font-size, $h6-font-size;

@for $i from 1 through length($header-font-sizes) {
  h#{$i} {
    font-size: nth($header-font-sizes, $i);
    font-family: $header-font-family;
    font-style:  $header-font-style;
    color:       $header-font-color;
    line-height: $header-line-height;
    letter-spacing: $header-letter-spacing;
    font-weight: $header-font-weight;
    
    a {
      &:link,
      &:visited {
        color: $dark-grey;
      }
      
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active,
      &.active,
      &.active-trail {
        font-family: $header-font-family;
      }
    }
  }
}

#page-title {
  border-bottom: 1px solid $middle-grey;
  display: block;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 1em;
}

h2 {
  &.block-title {
    margin: 0.325em 0 0.625em;
  }
}

a {
  &:link,
  &:visited {
    color: $blue;
    text-decoration: none;
  }
  
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  
  &:active,
  &.active {
    color: $blue;
  }
}

p {
  margin-top: 20px;
}

/**@ Zones
 **************************************/
.zone-branding-wrapper,
.zone-interstitial-wrapper {
  background-color: $blue;
  color: $white;
  
  a {
    color: $link-light-blue;
  }
}

.zone-branding {
  padding: 1.5em 0;
}

.zone-postscript-wrapper {
  padding: 1em 0;
}

.zone-postscript {
  .block-title {
    color: $red;
  }
}

/**@ Regions
 **************************************/
.region-user-second {
  text-align: right;
}

.region-branding {
  text-align: center;
}

.logo-img {
  a {
    display: inline-block;
    vertical-align: bottom;
  }
  
  img {
    @include rwdImage;
  }
}

.block {
  margin-bottom: 20px;
}

/**************************************
 * Navigation Objects
 *
 *  Menus
 *    - Utility Navigation
 *      + Social Media
 *      + Footer Site Map
 *
 *    - Main Navigation
 **************************************/
/**@ Utility Navigation
 **************************************/
ul {
// Social Media
  &.menu--social-media.inline {
    display: table;
    width: 100%;
    padding: 0.625em 0;
    
    li {
      display: table-cell;
      text-align: center;
    }
  }
}

// Footer Sitemap
.footer--sitemap__menu {
  ul {
    li {
      list-style: none outside none;
      margin: 0;
      padding: 0;
    }
  }
  .menu--heading {
    color: $med-grey;
    font-weight: bold;
    text-transform: uppercase;
    
    + ul {
      li {}
      a {
        &:link,
        &:visited {
          color: $main-nav-grey;
        }
        
        &:hover,
        &:focus,
        &:active,
        &.active {
          color: $dark-grey;
          text-decoration: none;
        }
      }
    }
  }
}

// Main Navigation
a.nav-toggle {
  @include transition(all 300ms ease);
  background-color: $light-grey;
  color: $blue;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  text-indent: 0.5em;
  padding: 0.325em 0;
  min-width: 40px;
  width: 100%;
  
  &:hover,
  &:focus {
    text-decoration: none;
  }
  
  &.active {
    min-width: 100%;
  }
}

.main-navigation {
  display: none;
  
  > ul.links.inline {
    margin-left: 0;
    padding-left: 0;
    
    li {
      display: block;
      margin: 0;
      padding: 0;
    }
  }
  
  .main-menu__inner {
    @include transition(all 0.5s ease-in 0s);
    background-color: $light-grey;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    
    li {
      &:last-child {
        a {
          border-bottom: medium none;
        }
      }
    }
    
    a {
      background-color: $white;
      color: $main-nav-grey;
      border-bottom: 2px solid $light-grey;
    }
  }
  
  a,
  .nolink {
    color: $red;
    display: block;
    font-size: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.325em 0.5em;
    
    &:link,
    &:visited {
      
    }
    
    &:hover,
    &:focus,
    &:active,
    &.active-trail,
    &.active-link {
      background-color: $light-grey;
      color: $blue;
    }
    
    &.active-link {
      ~ .main-menu__inner {
        opacity: 1;
        max-height: 1000px;
        padding: 0 0.5em 0.5em;
      }
    }
  }
}

/**************************************
 * Drupal Content
 *  
 *  @format
 *    DESCRIPTION: LOCATION [Example | Block Foobar: Sidebar Second ]
 *  
 *  Blocks
 *    - Header
 *      + Branding: Venue Info
 *      + FlexSlider
 *    - Content
 *      + Register Now CTA
 *      + jQuery Countdown Timer
 *      + Positioning Statement
 *      + Front Features
 *      + Session Speakers
 *      + Speaker's Sessions
 *    - Footer
 *      + Summit Organizer
 *      + Twitter Feed
 *      + Sponsor Logos
 *
 *  Forms
 *    - Search Form
 **************************************/

/**@ Blocks
 **************************************/
// Branding & Venue info: Header/Branding
.branding--venue-info {
  h2,
  p {
    color: $light-grey;
    margin-bottom: 0;
  }
  
  h2 {
    padding: 0 16px;
  }
  
  p {
    font-size: 16px;
    max-width: 320px;
    margin: 0 auto;
  }
}

// FlexSlider
.flexslider {
  @include border-radius(0);
  background-color: transparent;
  border: medium none;
  margin: 0;
  
  .slides {
    img {
      height: auto;
    }
  }
  
  .flex-control-nav {
    a {
      background-color: transparent;
      border: 1px solid $white;
      
      &:hover,
      &:focus {
        background-color: rgba($white, 0.8);
      }
    }
    
    .flex-active {
      background-color: $white;
    }
  }
}

// Register Now CTA
.register-cta {
  background-color: $red;
  color: $white;
  padding-right: 28px;
  
  .content {
    background-color: transparent;
    background-image: image-url('arrow--action.png');
    background-repeat: no-repeat;
    background-position: center right;
    vertical-align: middle;
    width: 100%;
    height: 78px;
    font-weight: bold;
    text-transform: uppercase;
    
    > p {
      line-height: 78px;
      margin: 0;
      padding-left: 14px;
    }
    
    a {
      color: $white;
      text-decoration: none;
      
      &:hover,
      &:focus {
        color: $lightest-grey;
      }
    }
  }
}

// jQuery Countdown Timer
.block-jquery-countdown-timer {
  width: 100%;
  display: none;
  
  .block-title,
  .content {
    display: inline-block;
    vertical-align: top;
  }
  
  .block-title {
    display: none;
    width: 110px;
    height: 56px;
    font-size: 13px;
    text-align: center;
    margin: 0;
    padding-top: 22px;
  }
  
  .content {
    width: 100%;
  }
  
  .countdownHolder {
    height: 78px;
    font-size: 30px;
    text-align: center;
    width: auto;
    min-width: 100%;
    
    .countDiv {}
    .position {}
    .digit {
      &.static {}
    }
    .countDays {
      &:after {
        content: "Days";
      }
    }
    .countHours {
      &:after {
        content: "Hours";
      }
    }
    .countMinutes {
      &:after {
        content: "Minutes";
      }
    }
    .countSeconds {
      &:after {
        content: "Seconds";
      }
    }
    
    .countDays,
    .countHours,
    .countMinutes,
    .countSeconds {
      position: relative;
      
      &:after {
        color: $hero-grey;
        display: block;
        font-size: 14px;
        letter-spacing: 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
      }
    }
  }
}

#jquery-countdown-timer-note {
  display: none;
}

// Positioning Statement
.positioning-statement {
  color: $med-grey;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

// Front Features
.front-feature {
  border-bottom: 3px solid $light-grey;
  padding: 0 0.5em;
  min-height: 340px;
  
  .feature--image {
    border-top: 10px solid $light-grey;
    
    img {
      @include rwdImage;
    }
  }
  
  .feature--title {
    color: $red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0;
  }
  
  p {
    margin-top: 0;
  }
}

// Session Speakers
.block-speakers-on-session-block {
  .block-title {
    color: $red;
    text-transform: uppercase;
  }
  
  .speaker {
    margin-bottom: 1em;
    padding-left: 196px;
    min-height: 230px;
  }
  
  .speaker--headshot {
    display: inline-block;
    float: left;
    margin-left: -196px;
    vertical-align: top;
    
    a {
      display: block;
      vertical-align: bottom;
    }
  }
  
  .speaker--full-name,
  .speaker--title
  .speaker--company {}
  
  .speaker--full-name {}
  .speaker--title {}
  .speaker--company {}
}

// Speaker's Sessions
.block-sessions-on-speaker-block {
  font-size: 16px;
  
  .block-title {
    font-weight: normal;
  }
}

// Summit Organizer
.summit-organizer {
  text-align: center;
  max-width: 220px;
  margin: 0 auto;
  padding: 0.625em;
  
  p {
    font-size: 14px;
    margin: 0;
    line-height: 1;
    vertical-align: top;
  }
  
  a {
    display: inline-block;
    vertical-align: bottom;
    padding-top: 0.5em;
  }
  
  img {
    max-width: 180px;
  }
}

// Twitter Feed
.twitter-feed {
  .block-title {
    margin-bottom: 1.5em;
    position: relative;
    
    &:after {
      color: $header-font-color;
      content: "Follow @P2PInstitute and use #shoppersummit";
      font-size: 0.8em;
      font-weight: normal;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }
  }
  
  .content{
    text-align: center;
  }
}

// Sponsor Logos: Footer
.block--sponsors__inline {
  background-color: $trueWhite;
  border: 1px solid $light-grey;
  margin: 1.5em 0;
  padding: 0 0.5em 0.5em;
  
  .block-inner {
  }
  
  .block-title {
    background-color: $trueWhite;
    font-size: 0.875em;
    font-weight: normal;
    text-align: center;
    line-height: 24px;
    margin: -1.125em auto 0;
    display: block;
    padding: 0 1em;
    min-width: 160px;
    width: 160px;
  }
  
  .sponsor--logo-list {
    > ul {
      @include column-count(1);
      text-align: center;
      list-style: none outside none;
      width: 100%;
      
      > li {
        display: inline-block;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        width: 100%;
        min-height: 72px;
      }
      
      @media screen and (min-width: 321px) and (max-width: 480px) {
        @include column-count(2);
      }
      
      @media screen and (min-width: 481px) and (max-width: 739px) {
        @include column-count(3);
      }
    }
  }
  
  .sponsor--logo-link {
    padding: 0.325em 0;
    
    a {
      display: inline-block;
      vertical-align: middle;
      
      > img {
        @include rwdImage;
      }
    }
  }
}

/**@ Forms
 **************************************/
.block-search-form {
  padding: 0.5em 0;
  
  .search-form {
    margin-bottom: 0;
  }
}

/**************************************
 * Drupal Content
 *  
 *  @format
 *    DESCRIPTION: PRECONFIGURED MACHINE NAME [Example | Large Image teaser: Article - teaser ]
 *  
 *  Node Displays and View Modes
 * 
 *  Node Fields
 * 
 *  View Displays [not blocks]
 * 
 **************************************/
/**@ Node Displays & View Modes
 **************************************/

/**@ Node Fields
 **************************************/
// Session - Schedule Item - Default/Full Node
.node-session {
  font-size: 16px;
  
  .field-name-field-session-number {
    color: $blue;
    font-size: 22px;
    font-weight: bold;
  }
  
  .field-label {
    color: $red;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .field-name-field-session-datetime,
  .field-name-field-session-track,
  .field-name-field-session-speakers {
    font-size: 24px;
  }
  
  .field-name-field-session-speakers {
    .field-item {
      color: $blue;
      font-weight: bold;
    }
  }
}

.node-speaker {
  font-size: 16px;
  
  .field-name-field-speaker-title {
    font-size: 20px;
  }
  .field-name-field-speaker-company {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .field-name-field-speaker-headshot {
    float: left;
    vertical-align: top;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .field-name-body {
    display: inline;
  }
  
  .field-type-link-field {
    display: inline-block;
    margin-right: 1em;
  }
}

/**@ View Displays [not blocks]
 **************************************/
// Exposed Filter Widgets
.views-exposed-form {
  .views-exposed-widgets {
    background-color: $light-grey;
    text-align: right;
    padding-bottom: 1em;
  }
  
  [class*="views-widget-filter"] {
    background-color: $light-grey;
    display: block;
    text-align: left;
    width: 100%;
    margin: 1em 0;
    padding: 0;
    
    &:first-child {
      margin-top: 0;
    }
    
    > label {
      @include labelHeader;
      background-color: $blue;
      color: $white;
      display: block;
    }
    
    .views-widget {
      font-size: 16px;
      padding: 1.5em;
    }
  }
  
  .views-exposed-widget {
    float: none;
    display: inline-block;
    
    .form-submit {
      margin-top: 0;
    }
  }
  
  .views-widget-filter-field_session_track_target_id {
    .form-item {
      label {
        display: inline-block;
        width: auto;
        min-height: 40px;
        padding: 0.5em 0;
        
        &:before {
          @include box-sizing(border-box);
          background-color: transparent;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
          display: inline-block;
          min-width: 64px;
          height: 40px;
          vertical-align: middle;
        }
      }
    }
    
    .form-item-edit-field-session-track-target-id-96 {
      label:before {
        background-image: url('../images/track-icons/shopper-insights.png');
      }
    }
    .form-item-edit-field-session-track-target-id-144 {
      label:before {
        background-image: url('../images/track-icons/advanced-learning.png');
      }
    }
    .form-item-edit-field-session-track-target-id-97 {
      label:before {
        background-image: url('../images/track-icons/collaboration.png');
      }
    }
    .form-item-edit-field-session-track-target-id-98 {
      label:before {
        background-image: url('../images/track-icons/digital-marketing.png');
      }
    }
    .form-item-edit-field-session-track-target-id-145 {
      label:before {
        background-image: url('../images/track-icons/general-session.png');
      }
    }
    .form-item-edit-field-session-track-target-id-99 {
      label:before {
        background-image: url('../images/track-icons/social-strategy.png');
      }
    }
    .form-item-edit-field-session-track-target-id-102 {
      label:before {
        background-image: url('../images/track-icons/omni-channel-marketing.png');
      }
    }
    .form-item-edit-field-session-track-target-id-101 {
      label:before {
        background-image: url('../images/track-icons/best-practices.png');
      }
    }
    .form-item-edit-field-session-track-target-id-100 {
      label:before {
        background-image: url('../images/track-icons/understanding.png');
      }
    }
  }
}

// View: Schedule - Grouped with Exposed Filters
.view-schedule {
  .view-grouping-header {
    @include labelHeader;
    background-color: $red;
    color: $white;
    display: block;
    
    + .view-grouping-content {
      > .group-header {
        margin-top: 0.5em;
      }
    }
  }
  
  .schedule-item {
    border-bottom: 1px solid $light-grey;
    font-size: 16px;
    margin-bottom: 1em;
    padding-bottom: 1em;
    
    a:link,
    a:visited {
      color: $blue;
    }
    
    &:last-child {
      border-bottom: medium none;
      margin-bottom: 0;
    }
  }
  
  .schedule-item__title {
    margin-bottom: 0;
  }
  
  .session--speaker {
    font-weight: bold;
    margin-top: 0.5em;
  }
  .session--speaker__title {}
  .session--speaker__company {
    color: $med-grey;
    font-weight: bold;
  }
  
  // Track Icons
  .track--icon {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: auto;
    min-width: 56px;
    height: 40px;
    vertical-align: middle;
  }
  .track-id-96 {
    background-image: url('../images/track-icons/shopper-insights.png');
  }
  .track-id-144 {
    background-image: url('../images/track-icons/advanced-learning.png');
  }
  .track-id-97 {
    background-image: url('../images/track-icons/collaboration.png');
  }
  .track-id-98 {
    background-image: url('../images/track-icons/digital-marketing.png');
  }
  .track-id-145 {
    background-image: url('../images/track-icons/general-session.png');
  }
  .track-id-99 {
    background-image: url('../images/track-icons/social-strategy.png');
  }
  .track-id-102 {
    background-image: url('../images/track-icons/omni-channel-marketing.png');
  }
  .track-id-101 {
    background-image: url('../images/track-icons/best-practices.png');
  }
  .track-id-100 {
    background-image: url('../images/track-icons/understanding.png');
  }
}

// View: Speaker List - Grid
.view-speaker-list {}
.speaker-grid {
  font-size: 0;
  
  ul {
    list-style: none outside none;
  }
  
  .speaker {
    display: inline-block;
    font-size: 13px;
    width: 100%;
    vertical-align: top;
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    
    @media only screen and (min-width : 600px) and (max-width : 980px) {
      @include box-sizing(border-box);
      width: 49%;
      margin: 0 0.5%;
      padding-left: 1em;
      padding-right: 1em;
      
/*
      &:nth-child(2n + 2) {
        border-left: 1px solid $light-grey;
        width: calc(49% - 1px);
      }
*/
      
      &:before {
        width: 95%;
        left: 2.5%;
      }
    }
    
    &:before {
      background-color: $light-grey;
      content: "";
      display: inline-block;
      width: 100%;
      height: 10px;
      position: absolute;
      left: 0;
      top: 0;
    }
    
    span {
      display: inline-block;
      vertical-align: top;
    }
    
    .speaker--headshot {
      float: left;
      padding-right: 0.5em;
    }
    
    .speaker--full-name {
      color: $blue;
      font-size: 16px;
      padding-top: .25em;
    }
    
    .speaker--company {
      font-weight: bold;
    }
  }
}