/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/* Include Compass Plugins, partials and other items required for the theme */
@import "variables";

/**
 * Navigation Objects
 *
 *  Menus
 *    - Utility Navigation
 *      + Social Media
 *      + Footer Site Map
 *
 *    - Main Navigation
 */
// Main Navigation: Menu/Header
a.nav-toggle {
  display: none;
}

.main-navigation {
  display: block !important;
  
  > ul.links.inline {
    display: block;
    margin-left: 0;
    padding-left: 0;
    
    > li {
      display: inline-block;
      position: relative;
      margin-left: 0;
      padding-left: 0;
      width: auto;
    
      &:hover,
      &:focus {
        > a,
        > .nolink {
          background-color: $light-grey;
          color: $blue;
        }
        
        .main-menu__inner {
          display: block;
          opacity: 1;
          max-height: 1000px;
        }
      }
      
      &:nth-child(2n+2) {
        .main-menu__inner {
          left: 0;
        }
      }
      
      &:last-child {
        .main-menu__inner {
          left: auto;
          right: 0;
        }
      }
    }
    
    ul {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
    }
    
    .main-menu__inner {
      margin-top: -0.5em;
      padding: 0.5em;
      z-index: 100;
      width: auto;
      
      li {
        display: block;
        position: relative;
        width: auto;
        
        a {
          display: block;
          white-space: nowrap;
        }
      }
    }
  }
  
  a,
  .nolink {
    display: inline-block;
    
    &.mobile-menu-processed {
      display: inline-block;
    }
  }
}

/**************************************
 * Drupal Content
 *  
 *  @format
 *    DESCRIPTION: LOCATION [Example | Block Foobar: Sidebar Second/Content ]
 *  
 *  Blocks
 *    - Header
 *      + Branding: Venue Info
 *      + FlexSlider
 *    - Footer
 *      + Sponsor Logos
 *
 *  Forms
 *    - Search Form
 **************************************/

/**@ Blocks
 **************************************/
// Branding & Venue info: Header/Branding
.branding--venue-info {}

// jQuery Countdown Timer
.block-jquery-countdown-timer {
  .countdownHolder {
    font-size: 36px;
  }
}

// Sponsor Logos: Footer
.block--sponsors__inline {
  .sponsor--logo-list {
    > ul {
      @include column-count(6);
      text-align: left;
      
      li {
        text-align: center;
      }
    }
  }
  
  .sponsor--logo-link {
    a {
      display: inline-block;
      vertical-align: middle;
      
      > img {
        @include rwdImage;
      }
    }
  }
}

/**************************************
 * Drupal Content
 *  
 *  @format
 *    DESCRIPTION: PRECONFIGURED MACHINE NAME [Example | Large Image teaser: Article - teaser ]
 *  
 *  Node Displays and View Modes
 * 
 *  Node Fields
 * 
 *  View Displays [not blocks]
 * 
 **************************************/


// View: Speaker List - Grid
.view-speaker-list {}
.speaker-grid {
  .speaker {
    width: 32%;
    margin: 0 0.5%;
  }
}