/* This file will hold styles that are loaded using the same media query as the wide grid. */

/* Include Compass Plugins, partials and other items required for the theme */
@import "variables";

/**
 * Navigation Objects
 *
 *  Menus
 *    - Utility Navigation
 *      + Social Media
 *      + Footer Site Map
 *
 *    - Main Navigation
 */
// Main Navigation: Menu/Header
.main-navigation {
  > ul.links.inline {
    display: block;
    margin-left: 0;
    padding-left: 0;
    
    > li {
      display: inline-block;
      position: relative;
      margin-left: 0;
      padding-left: 0;
    
      &:hover,
      &:focus {
        > a,
        > .nolink {
          background-color: $light-grey;
          color: $blue;
        }
        
        .main-menu__inner {
          display: block;
          opacity: 1;
          max-height: 1000px;
        }
      }
    }
    
    ul {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
    }
    
    .main-menu__inner {
      margin-top: -0.5em;
      padding: 0.5em;
      z-index: 100;
      
      li {
        display: block;
        position: relative;
        
        a {
          display: block;
          white-space: nowrap;
        }
      }
    }
  }
  
  a,
  .nolink {
    display: inline-block;
    padding: 0.325em 1.325em;
    
    &.mobile-menu-processed {
      display: inline-block;
    }
  }
}

/**************************************
 * Drupal Content
 *  
 *  @format
 *    DESCRIPTION: PRECONFIGURED MACHINE NAME [Example | Large Image teaser: Article - teaser ]
 *  
 *  Node Displays and View Modes
 * 
 *  Node Fields
 * 
 *  View Displays [not blocks]
 * 
 **************************************/

// jQuery Countdown Timer
.block-jquery-countdown-timer {
  position: relative;
  
  .block-title {
    display: inline-block;
    position: absolute;
  }
}

// View: Speaker List - Grid
.view-speaker-list {}
.speaker-grid {
  .speaker {
    width: 24%;
  }
}