/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

/* Include Compass Plugins, partials and other items required for the theme */
@import "variables";

/**
 * Navigation Objects
 *  
 *  @format
 *    DESCRIPTION: LOCATION [Example | Block Foobar: Sidebar Second/Content ]
 *  
 *  Menus
 *    - Utility Navigation
 *      + Social Media
 *      + Footer Site Map
 *
 *    - Main Navigation
 */
.main-navigation {
  display: none;
  
  > ul.links.inline {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
    
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 50%;
      vertical-align: top;
    }
    
    > li {
      &:nth-child(2n+2) {
        .main-menu__inner {
          left: -100%;
        }
      }
    }
  }
  
  .main-menu__inner {
    @include transition(all 0.5s ease-in 0s);
    background-color: $light-grey;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    width: calc(200% - 1em);
    position: relative;
    left: 0;
    
    li {
      &:last-child {
        a {
          border-bottom: medium none;
        }
      }
    }
  }
  
  a,
  .nolink {
    color: $red;
    display: block;
    font-size: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.325em 0.5em;
    
    &:link,
    &:visited {
      
    }
    
    &:hover,
    &:focus,
    &:active,
    &.active-trail,
    &.active-link {
      background-color: $light-grey;
      color: $blue;
    }
    
    &.active-link {
      ~ .main-menu__inner {
        opacity: 1;
        max-height: 1000px;
        padding: 0.5em;
      }
    }
  }
}

// Social Media Menu: User Bar First/Header
ul.menu--social-media.inline {
  display: inline-block;
  width: 100%;
  padding: 0.625em 0;
  
  li {
    display: inline;
    text-align: center;
  }
}

/**************************************
 * Drupal Content
 *  
 *  @format
 *    DESCRIPTION: LOCATION [Example | Block Foobar: Sidebar Second/Content ]
 *  
 *  Blocks
 *    - Header
 *      + Branding: Venue Info
 *      + FlexSlider
 *    - Footer
 *      + Sponsor Logos
 *
 *  Forms
 *    - Search Form
 **************************************/

/**@ Blocks
 **************************************/
// Branding & Venue info: Header/Branding
.branding--venue-info {}

// jQuery Countdown Timer
.block-jquery-countdown-timer {
  display: block;
}

// Sponsor Logos: Footer
.block--sponsors__inline {
  .sponsor--logo-list {
    > ul {
      @include column-count(4);
      text-align: center;
    }
  }
  
  .sponsor--logo-link {
    a {
      display: inline-block;
      vertical-align: middle;
      
      > img {
        @include rwdImage;
      }
    }
  }
}

/**************************************
 * Drupal Content
 *  
 *  @format
 *    DESCRIPTION: PRECONFIGURED MACHINE NAME [Example | Large Image teaser: Article - teaser ]
 *  
 *  Node Displays and View Modes
 * 
 *  Node Fields
 * 
 *  View Displays [not blocks]
 * 
 **************************************/
// View: Speaker List - Grid
.view-speaker-list {}
.speaker-grid {
  .speaker {
    /*
@include box-sizing(border-box);
    border-color: transparent;
    border-style: solid;
    border-width: 0px 1px;
    width: 50%;
    padding-left: 1em;
    padding-right: 1em;
    
    &:nth-child(2n + 2) {
      border-left-color: $light-grey;
      width: calc(50% - 1px);
    }
    
    &:before {
      width: 95%;
      left: 2.5%;
    }
*/
  }
}

.views-exposed-form {
  .views-widget-filter-field_session_day_of_week_tid {
    text-align: center;
    
    .form-type-bef-checkbox {
      display: inline-block;
      margin-right: 3.5em;
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
}